rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --------------------------------------------------------------------------------
    // Helper Functions
    // --------------------------------------------------------------------------------
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isExistingDoc() {
      return resource != null;
    }

    function isOwnerOfExistingDoc(userId) {
      return isOwner(userId) && isExistingDoc();
    }
    
    function isAdminOfExistingDoc() {
      return isAdmin() && isExistingDoc();
    }

    function hasValidNewUserData(userId) {
      return request.resource.data.id == userId;
    }

    function hasValidUpdatedUserData() {
      let changedKeys = request.resource.data.diff(resource.data).affectedKeys();
      return changedKeys.size() > 0 && !changedKeys.hasAny(['id', 'email', 'createdAt']);
    }

    // Checks if the requestor is the designated proxy for a given grantor in a specific assembly.
    function isAuthorizedProxy(assemblyId, grantorId) {
      let proxyDoc = get(/databases/$(database)/documents/assemblies/$(assemblyId)/proxies/$(grantorId));
      return proxyDoc != null && proxyDoc.data.proxyId == request.auth.uid;
    }
    
    // --------------------------------------------------------------------------------
    // Collection Rules
    // --------------------------------------------------------------------------------

    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn();
      allow create: if isOwner(userId) && hasValidNewUserData(userId);
      allow update: if isOwnerOfExistingDoc(userId) && hasValidUpdatedUserData();
      allow delete: if isOwnerOfExistingDoc(userId) || isAdminOfExistingDoc();

      match /blockedUsers/{blockedUserId} {
        allow read, list, create, delete: if isOwner(userId);
        allow update: if false;
      }
    }

    match /admins/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if ((isOwner(userId) && request.auth.token.email == 'admin@assembleia.dev') || isAdmin()) && request.resource.data.keys().size() == 0;
      allow update: if false;
      allow delete: if isAdmin() && request.auth.uid != userId;
    }

    match /assemblies/{assemblyId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn();
      allow create: if isAdmin() && request.resource.data.administratorId == request.auth.uid;
      allow update: if isAdminOfExistingDoc() && request.resource.data.administratorId == resource.data.administratorId;
      allow delete: if isAdminOfExistingDoc();

      match /chat/{messageId} {
        allow read, list: if isSignedIn();
        allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid && request.resource.data.assemblyId == assemblyId;
        allow update: if false;
        allow delete: if false;

        match /reactions/{userId} {
          allow read: if isSignedIn();
          allow create, update: if isOwner(userId) && request.resource.data.userId == userId;
          allow delete: if isOwner(userId);
        }
      }

      match /polls/{pollId} {
        allow get: if isSignedIn();
        allow list: if isSignedIn();
        allow create: if isAdmin() && request.resource.data.assemblyId == assemblyId && request.resource.data.assemblyStatus == 'live';
        allow update: if isAdminOfExistingDoc();
        allow delete: if isAdminOfExistingDoc();
      }

      match /polls/{pollId}/options/{optionId} {
        allow get: if isSignedIn();
        allow list: if isSignedIn();
        allow create: if isAdmin() && request.resource.data.pollId == pollId;
        allow update: if isAdminOfExistingDoc();
        allow delete: if isAdminOfExistingDoc();
      }
      
      match /polls/{pollId}/votes/{voteId} {
        allow get: if isSignedIn();
        allow list: if isSignedIn();
        
        allow create: if isSignedIn()
                        && request.resource.data.pollId == pollId
                        && get(/databases/$(database)/documents/assemblies/$(request.resource.data.assemblyId)/polls/$(pollId)).data.status == 'open'
                        && (
                          // Case 1: Voting for self. The voter is the authenticated user.
                          request.resource.data.userId == request.auth.uid
                          && !('representedUserId' in request.resource.data)
                          ||
                          // Case 2: Voting as proxy. The voter is the authenticated user, but they are voting for someone else.
                          request.resource.data.userId == request.auth.uid
                          && 'representedUserId' in request.resource.data
                          && isAuthorizedProxy(request.resource.data.assemblyId, request.resource.data.representedUserId)
                        );
        
        allow delete: if isSignedIn()
                        && resource.data.userId == request.auth.uid
                        && get(/databases/$(database)/documents/assemblies/$(resource.data.assemblyId)/polls/$(pollId)).data.status == 'open';

        allow update: if false;
      }

      match /speakerQueue/{queueItemId} {
        allow get: if isSignedIn() && (isOwner(resource.data.userId) || isAdmin());
        allow list: if isSignedIn();
        allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid && request.resource.data.assemblyId == assemblyId;
        allow update: if isAdminOfExistingDoc() || (
          isOwnerOfExistingDoc(resource.data.userId) &&
          request.resource.data.diff(resource.data).affectedKeys().hasAll(['status']) &&
          request.resource.data.diff(resource.data).affectedKeys().size() == 1 &&
          request.resource.data.status == 'Com a Fala' &&
          resource.data.status == 'Entrada Autorizada'
        );
        allow delete: if isOwnerOfExistingDoc(resource.data.userId) || isAdminOfExistingDoc();
      }

      match /ata/{ataId} {
          allow get: if isSignedIn();
          allow list: if isSignedIn();
          allow create: if isAdmin() 
                        && request.resource.data.assemblyId == assemblyId
                        && request.resource.data.administratorId == request.auth.uid
                        && request.resource.data.assemblyStatus == 'live';
          allow update: if isAdminOfExistingDoc() && resource.data.assemblyStatus != 'finished';
          allow delete: if isAdminOfExistingDoc() && resource.data.assemblyStatus != 'finished';
      }

      match /proxies/{grantorId} {
        allow read, list: if isSignedIn();
        allow create: if isOwner(grantorId)
                      && request.resource.data.grantorId == grantorId
                      && get(/databases/$(database)/documents/assemblies/$(assemblyId)).data.status == 'scheduled';
        allow delete: if isOwner(grantorId)
                      && get(/databases/$(database)/documents/assemblies/$(assemblyId)).data.status == 'scheduled';
        allow update: if false;
      }

      match /presence/{userId} {
        allow read, list: if isSignedIn();
        allow write: if isOwner(userId);
      }
    }
  }
}
